body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

input,
textarea {
    font-family: inherit;
}

.container {
    max-width: 320;
    padding: 0 15px;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
  background: var(--WHITE, #fff);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================================ HEADER ============================================  */

.top-line-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-line {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 16px;
    padding-bottom: 16px;
}

.navigation {
    display: flex;
    align-items: center;
}
.navigation-menu {
    display: none;
}
.logo-first-part {
    color: var(--IRIS, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-second-part-top {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.top-line-address {
    display: none;
}

/* ======================================== /HEADER ======================================== */


/* ========================================= HERO ========================================= */

.titel-page {
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-color: var(--NAVY-BLUE, #2e2f42);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.titel-page>.container {
    flex-direction: column;
}

.titel {
    color: var(--WHITE, #fff);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 169px;
}

.titel-page-button {
    display: block;
    margin: auto;
    padding: 16px 32px;
    text-align: center;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
}
.titel-page-button:hover {
    background: var(--OCEAN, #404bbf);
}

/* ========================================= /HERO ========================================= */

/* ======================================= SECTION 1 =======================================  */

.features-section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 72px;
}

.features-section-item {
    width: 288px;
}

.section-item-titel {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.features-section-picture {
    display: none;
}
.section-item-description {
    font-weight: 500;
}
/* ======================================= /SECTION 1 =======================================  */

/* ======================================= SECTION 2 =======================================  */
.section-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--CLOUD, #F4F4FD);
}

.section-titel {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-section-item {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-team-block {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-team-block > .section-item-titel {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-section-item-description {
    text-align: center;
    margin-bottom: 8px;
}

.section-team-block .social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links .icon {
    fill: #f4f4fd;
}

.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--IRIS, #4D5AE5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-links .link:hover {
    background-color: var(--OCEAN, #404BBF);
}
/* ======================================= /SECTION 2 =======================================  */

/* ======================================= SECTION 3 =======================================  */

.portfolio-section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.portfolio-section-item {
    display: inline-flex;
    flex-direction: column;
    background: var(--WHITE, #fff);
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-block {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
    background: var(--WHITE, #FFF);
}

.section-list-titel {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-section-img {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    padding: 40px 32px;
    overflow: auto;
}

li:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-section-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* ======================================= /SECTION 3 =======================================  */

/* ======================================= FOOTER =======================================  */

.footer-section {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 97px 0;
}

.footer-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-block {
    margin-bottom: 72px;
}

.logo-first-part-down {
    display: block;
    color: var(--IRIS, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 18px;
    text-align: center;
}

.logo-second-part-down {
    color: var(--CLOUD, #f4f4fd);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-description {
    color: var(--CLOUD, #f4f4fd);
    width: 288px;
}

.footer-links {
    margin-bottom: 72px;
}
.footer-titel {
    color: var(--WHITE, #FFFFFF);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.footer-links .social-links {
    flex-wrap: nowrap;
    gap: 16px;
}

.footer-links .link:hover {
    background-color: var(--GREEN, #31D0AA);
}

.footer-subscribe .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 288px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.form-input::placeholder {
    color: var(--WHITE, #FFF);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
}

.footer-button .icon {
    fill: var(--WHITE, #FFF);
    margin-left: 16px;
}

.footer-button:hover {
    background: var(--OCEAN, #404bbf);
}
/* ======================================= /FOOTER =======================================  */

/* ======================================= MODAL =======================================  */

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    visibility: visible;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    width: 288px;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    transform: translate(-50%, -50%) scale(1);
}

.close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    fill: #2E2F42;
    background-color: var(--CORNFLOWER, #E7E9FC);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close .icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
    background-color: #404bbf;
    border: none;
}

.close:hover .icon {
    fill: #ffffff;
}

.modal-titel {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-list {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-form-input {
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: #2e2f42;
    background-color: transparent;
    outline-offset: 4px;
    height: 40px;
    padding-left: 38px;
    width: 100%;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-input:focus+.icon-form,
.modal-form-input-comment:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.modal-form-position {
    position: relative;
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.form-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-form-input-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.modal-form-input-comment {
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
    resize: none;
}

.form-label-checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.icon-form-checkbox {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    width: 16px;
    height: 16px;
    min-width: 16px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer;
}

.modal-form-chechbox:checked+.form-label-checkbox .icon-form-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.modal-form-chechbox:focus+.form-label-checkbox .icon-form-checkbox {
    outline: 2px solid #404BBF;
}

.privacy-policy {
    color: var(--IRIS, #4D5AE5);
    line-height: 1.33;
    text-decoration-line: underline;
}

.form-field {
    margin-bottom: 24px;
}
/* ======================================= MODAL =======================================  */

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .titel-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
    }
}
/* ======================================= MENU-MOBILE =======================================  */
@media screen and (max-width: 767px) {
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
  }
    .icon-menu {
        fill: #2E2F42;
    }
    .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .menu.is-open {
    transform: translateX(0%);
  }
  .container-menu {
      position: relative;
      padding-top: 72px;
      padding-bottom: 40px;
  }

  .close-menu-btn {
      position: absolute;
      line-height: 0;
      height: 24px;
      width: 24px;
      top: 24px;
      right: 8px;
      padding: 0;
      fill: #2E2F42;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.10);
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-menu-modal-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
  }
  .menu-modal-item-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-menu-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }
    .adress-menu-item-link {
        color: var(--SLATE, #434455);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-style: normal;
        }
    .adress-menu-item-link.tell {
        color: var(--IRIS, #4D5AE5);
    }
    .social-links {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
    .social-links .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        fill: #f4f4fd;
        background-color: var(--IRIS, #4D5AE5);
    }
}
/* ======================================= /MENU-MOBILE =======================================  */


@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
}